<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>

<body>
<!-- Ci dessous on recupere le contenu de la var test déclarée dans server.js-->
<!--p><%= test %></p-->

<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
</div>

<div class="ui main container">